.container {
    margin: 3rem auto;
    width: 60%;
    height: 50%;
}

h1 {
    text-align: center;
}

#operand1,
#operand2,
select {

    width: 90%;
    height: 10vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem auto;
    font-size: 2rem;
}

select {
    background-color: cadetblue;
}



#mouseon {
    margin: 2rem auto;
    width: 90%;
    height: 10vh;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;




}

#result {
    margin: 2rem auto;
    width: 50%;
    height: 8vh;


    font-size: 3rem;
    text-align: center;
}

#resultvalue {
    margin: 2rem auto;
    width: 50%;
    height: 8vh;
    color: red;
    font-size: 3rem;
    text-align: center;
}